---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro'
import YouTubeLogo from '../components/Youtube.astro'
import TwitchLogo from '../components/Twitch.astro'
import InstaLogo from '../components/Insta.astro'
import SnapLogo from '../components/Snapchat.astro'
import GitHubLogo from '../components/Github.astro'
---


<Layout title="My Socials ♥">
    <main class="">
        <div class="centered">
            <div id="header-logo">
                <img src="/bild_rose.jpg"/>
                <img class="logo" src="/image.png"/>
            </div>
            <h1><span class="text-gradient">samtv1998</span></h1>
            <Link title="GitHub" body="" href="https://github.com/samtv12345">
                <GitHubLogo/>
            </Link>
            <Link title="Snapchat" body="" href="https://snapchat.com/add/samtv1998">
                <SnapLogo/>
            </Link>

            <Link title="Instagram" href="https://instagram.com/samtv1998/">
                <InstaLogo/>
            </Link>
            <Link title="YouTube" href="https://www.youtube.com/@samtv1998">
                <YouTubeLogo/>
            </Link>
            <Link title="Twitch" href="https://www.twitch.tv/samtv1998/">
                <TwitchLogo/>
            </Link>

            <iframe aria-label="video iframe" title="url" class="TwitchVideo"
                    src="https://player.twitch.tv/?channel=samtv1998&amp;parent=samtv12345.github.io&amp;autoplay=false"
                    frameborder="0" scrolling="no"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""
                    style="overflow: hidden;"></iframe>
        </div>
    </main>
</Layout>


<style>
    body {
        background-image: url("/image.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1 {
        color: white;
        margin-top: 6vh
    }

    iframe {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #header-logo > img:first-child {
        width: 100%;
        border-radius: 50px;
        border: none;
        padding-top: 20px;
    }

    #header-logo {
        position: relative;
    }

    .logo {
        position: absolute;
        right: 50%;
        bottom: -6vh;
        width: 130px;
        height: 130px;
        border-radius: 10000px;
        opacity: 1;
        transform: translateX(50%);
        border: 2px solid rgb(255, 255, 255);
    }

    #background {
        position: absolute;
        background-image: url("/bild_zugeschnitten.jpg");
        width: 100vh;
        top: 0;
        left:0;
        height: 100vh;
        background-size: cover;
        filter: blur(100px);
        z-index: -1;
    }




    .centered {
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    main {
        display: grid;
        place-items: center;
    }

    main > div {
        border-radius: 60px;
        background-image: linear-gradient(rgb(236, 21, 103), rgb(223, 16, 18));
    }
</style>
